@media screen and (max-width: 760px) {
  .header_mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-bottom: rgba(84, 84, 84, 0.7) solid 1px;
    box-sizing: border-box;
    gap: 40px;
  }
}
