.popup__title {
    margin: 0;
    padding-top: 34px;
    margin-left: 36px;
    color: black;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (max-width:760px) {
    .popup__title {  
        font-size: 18px;
        line-height: 23px;
        padding-top: 25px;
        margin: 0 22px 0;
    }
}