.element__image {
  border-radius: 10px 10px 0 0;
  width: 282px;
  height: 282px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  line-height: 100%;
  transition: opacity linear 0.5s;
}

.element__image:hover {
  opacity: 0.5;
  transition: opacity linear 0.5s;
  cursor: pointer;
}
