.footer__copyright {
    color: #545454;
    margin: 0;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
}

@media screen and (max-width:760px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 16.94px;
    }
}

.footer__copyright::before {
content: "\A9";
}