.header__close-nav {
    visibility: hidden;
    display: flex;
}

@media screen and (max-width:760px) {
    .header__close-nav {
        visibility: visible;
        background-image: url("../../../images/CloseIcon.svg");
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: opacity linear .3s;
    }
}

.header__close-nav:hover {
    opacity: .6;
    transition: opacity linear .3s;
}