.auth-form__link {
    color: white;
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    transition: opacity linear .3s;
}

@media screen and (max-width:760px) {
    .auth-form__link {
        margin-top: 20px;
    }
}

.auth-form__link:hover {
    opacity: .6;
    transition: opacity linear .3s;
}