.header__link {
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    color: white;
    transition: opacity linear .3s;
}

@media screen and (max-width:760px) {
    .header__link {
        font-size: 14px;
        line-height: 17px;
    }
}

.header__link:hover {
    opacity: .6;
    transition: opacity linear .3s;
}