.popup__registration-message {
  margin: 32px 36px 0;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  padding-bottom: 60px;
}
@media screen and (max-width: 760px) {
  .popup__registration-message {
    margin: 40px 18px 0;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 50px;
  }
}
