.header__main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

@media screen and (max-width:760px) {
    .header__main-content {
        margin: 0 30px;
    }
}