.elements {
  margin: 0;
  list-style: none;
  display: grid;
  padding: 0;
  justify-content: center;
  margin-top: 51px;
  column-gap: 17px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-items: center;
  line-height: 0;
}

@media screen and (max-width: 760px) {
  .elements {
    grid-template-columns: 282px;
    margin: 36px 19px 48px;
  }
}
