.auth-form__input {
    margin: 30px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 13px;
}

.auth-form__input:last-of-type {
    margin: 0;
}