.auth-form__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 0;
}

@media screen and (max-width:760px) {
    .auth-form__title {
        font-size: 20px;
        line-height: 24px;
    }
}