@media screen and (max-width: 760px) {
    .header__container_visible {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid rgba(84, 84, 84, .7);
    }
}