.profile__avatar {
    padding: 0;
    border: none;
    width: 120px;
    height: 120px;
    grid-area: avatar;
    margin: 0;
    position: relative;
}

@media screen and (max-width:760px) {
    .profile__avatar {
        margin: 0 auto auto;
    }
}