.element__description {
    max-width: 246px;
    background-color: #FFFFFF;
    padding: 25px 16px 25px 21px;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
}