.popup__registration-image {
    margin: 60px 155px 0;
    width: 120px;
    height: 120px;
}
@media screen and (max-width:760px) {
    .popup__registration-image{
        margin: 50px 80px 0;
    }
}