.element__like {
    margin: 1px 3px 1px 1px;
    width: 24px;
    height: 21px;
    background-image: url(../../../images/like.svg);
    padding: 0;
    border: 0;
    opacity: .8;
    transition: opacity linear .5s;
}

.element__like:hover {
    opacity: .5;
    transition: opacity linear .5s;
}

.element__like:active {
    background-image: url(../../../images/like_active.svg);
    opacity: 1;
}