.button_type_edit {
    grid-area: editbutton;
    margin-top: 38px;
    width: 24px;
    height: 24px;
    align-self: start;
    padding: 0;
    border: #FFFFFF 1px solid;
    transition: opacity linear .5s;
}

.button_type_edit:hover {
    opacity: .6;
    transition: opacity linear .5s;
}

@media screen and (max-width:950px) {
    .button_type_edit {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width:760px) {
    .button_type_edit {
        margin-left: 9px;
        margin-top: 35px;
        width: 18px;
        height: 18px;
    }
}