.button_type_close {
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(../../../images/CloseIcon.svg);
    border: 0;
    top: -40px;
    right: -40px;
    transition: opacity linear .5s;
}

.button_type_close:hover {
    opacity: .6;
    transition: opacity linear .5s;
}

@media screen and (max-width:760px) {
    .button_type_close {
        width: 20px;
        height: 20px;
        margin-bottom: 16px;
        right: 0;
        top: -36px;
    } 
}