@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/container/container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/_mobile/header_mobile.css);
@import url(./blocks/header/_logout/header_logout.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__container/_visible/header__container_visible.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__main-content/header__main-content.css);
@import url(./blocks/header/__main-content/_logout/header__main-content_logout.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__close-nav/header__close-nav.css);
@import url(./blocks/header/__burger-button/header__burger-button.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/_hidden/footer_hidden.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-img/profile__avatar-img.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/profile/__username/profile__username.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/button/button.css);
@import url(./blocks/button/_type/button_type_edit.css);
@import url(./blocks/button/_type/button_type_add.css);
@import url(./blocks/button/_type/button_type_close.css);
@import url(./blocks/button/_type/button_type_submit.css);
@import url(./blocks/button/_disabled/button_disabled.css);
@import url(./blocks/button/__edit-image/button__edit-image.css);
@import url(./blocks/button/__add-image/button__add-image.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__description/element__description.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__likes/element__likes.css);
@import url(./blocks/element/__likes-count/element__likes-count.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__trash/_hidden/element__trash_hidden.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image-link/popup__image-link.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);
@import url(./blocks/popup/__registration-image/popup__registration-image.css);
@import url(./blocks/popup/__registration-message/popup__registration-message.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__content/form__content.css);
@import url(./blocks/form/__field/form__field.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_name/form__input_name_error.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_active/form__input-error_active.css);
@import url(./blocks/identification/identification.css);
@import url(./blocks/auth-form/auth-form.css);
@import url(./blocks/auth-form/__title/auth-form__title.css);
@import url(./blocks/auth-form/__input/auth-form__input.css);
@import url(./blocks/auth-form/__button/auth-form__button.css);
@import url(./blocks/auth-form/__link/auth-form__link.css);
