.auth-form {
  display: flex;
  flex-direction: column;
  max-width: 358px;
  color: #ffffff;
  margin: 50px auto 80px;
}

@media screen and (max-width: 760px) {
  .auth-form {
    width: 81%;
    margin: 40px auto;
  }
}
