.header__button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #a9a9a9;
  transition: opacity linear 0.3s;
}

@media screen and (max-width: 760px) {
  .header__button {
    margin-bottom: 40px;
  }
}

.header__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity linear 0.3s;
}
